<%= form_for(@deletion) do |f| %>
  <% if @deletion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@deletion.errors.count, "error") %> prohibited this deletion from being saved:</h2>

      <ul>
      <% @deletion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :review_id %><br>
    <%= f.number_field :review_id %>
  </div>
  <div class="field">
    <%= f.label :position %><br>
    <%= f.number_field :position %>
  </div>
  <div class="field">
    <%= f.label :offset %><br>
    <%= f.number_field :offset %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
