<p id="notice"><%= notice %></p>

<h1>Listing Deletions</h1>

<table>
  <thead>
    <tr>
      <th>Review</th>
      <th>Position</th>
      <th>Offset</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @deletions.each do |deletion| %>
      <tr>
        <td><%= deletion.review_id %></td>
        <td><%= deletion.position %></td>
        <td><%= deletion.offset %></td>
        <td><%= link_to 'Show', deletion %></td>
        <td><%= link_to 'Edit', edit_deletion_path(deletion) %></td>
        <td><%= link_to 'Destroy', deletion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Deletion', new_deletion_path %>
